openapi: 3.2.0
info:
  title: Capsule Crm Parties API
  version: '1.0'
  description: 'Operations tagged Parties across 2 of this provider''s published API definitions: capsule-crm-openapi.yml, capsule-parties-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.capsulecrm.com/api/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Parties
paths:
  /parties:
    get:
      tags:
      - Parties
      summary: List parties
      operationId: listParties
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: OK
    post:
      tags:
      - Parties
      summary: Create party
      operationId: createParty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /parties/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      tags:
      - Parties
      summary: Show party
      operationId: showParty
      responses:
        '200':
          description: OK
    put:
      tags:
      - Parties
      summary: Update party
      operationId: updateParty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Parties
      summary: Delete party
      operationId: deleteParty
      responses:
        '204':
          description: No Content
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /parties/search:
    get:
      tags:
      - Parties
      summary: Search parties
      operationId: searchParties
      parameters:
      - in: query
        name: q
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /parties/employees:
    get:
      tags:
      - Parties
      summary: List employees of an organisation
      operationId: listEmployees
      responses:
        '200':
          description: OK
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /parties/{partyId}:
    parameters:
    - $ref: '#/components/parameters/PartyId'
    get:
      tags:
      - Parties
      summary: Show a party
      parameters:
      - $ref: '#/components/parameters/Embed'
      responses:
        '200':
          $ref: '#/components/responses/PartyObject'
      operationId: getPartiesByPartyId
      x-operation-id-source: derived
    put:
      tags:
      - Parties
      summary: Update a party
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartyEnvelope'
      responses:
        '200':
          $ref: '#/components/responses/PartyObject'
      operationId: putPartiesByPartyId
      x-operation-id-source: derived
    delete:
      tags:
      - Parties
      summary: Delete a party
      responses:
        '204':
          description: Deleted
      operationId: deletePartiesByPartyId
      x-operation-id-source: derived
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /parties/{partyId}/people:
    parameters:
    - $ref: '#/components/parameters/PartyId'
    get:
      tags:
      - Parties
      summary: List employees linked to an organisation
      responses:
        '200':
          $ref: '#/components/responses/PartyList'
      operationId: getPartiesByPartyIdPeople
      x-operation-id-source: derived
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /parties/deleted:
    get:
      tags:
      - Parties
      summary: List deleted parties since a date
      parameters:
      - in: query
        name: since
        schema:
          type: string
          format: date-time
      responses:
        '200':
          $ref: '#/components/responses/PartyList'
      operationId: getPartiesDeleted
      x-operation-id-source: derived
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
components:
  parameters:
    PerPage:
      in: query
      name: perPage
      schema:
        type: integer
    Page:
      in: query
      name: page
      schema:
        type: integer
    IdPath:
      in: path
      name: id
      required: true
      schema:
        type: integer
        format: int64
    Embed:
      in: query
      name: embed
      description: Comma-separated list of related resources to embed.
      schema:
        type: string
    PartyId:
      in: path
      name: partyId
      required: true
      schema:
        type: string
  schemas:
    PartyEnvelope:
      type: object
      properties:
        party:
          $ref: '#/components/schemas/Party'
    Party:
      type: object
      additionalProperties: true
  responses:
    PartyList:
      description: List of parties.
      content:
        application/json:
          schema:
            type: object
            properties:
              parties:
                type: array
                items:
                  $ref: '#/components/schemas/Party'
    PartyObject:
      description: Party envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PartyEnvelope'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Personal access token or OAuth 2 access token
x-refined-from:
- capsule-crm-openapi.yml
- capsule-parties-api-openapi.yml
