openapi: 3.2.0
info:
  title: Capsule Crm Opportunities API
  version: '1.0'
  description: 'Operations tagged Opportunities across 2 of this provider''s published API definitions: capsule-crm-openapi.yml, capsule-opportunities-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.capsulecrm.com/api/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Opportunities
paths:
  /opportunities:
    get:
      tags:
      - Opportunities
      summary: List opportunities
      operationId: listOpportunities
      responses:
        '200':
          description: OK
    post:
      tags:
      - Opportunities
      summary: Create opportunity
      operationId: createOpportunity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /opportunities/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      tags:
      - Opportunities
      summary: Show opportunity
      operationId: showOpportunity
      responses:
        '200':
          description: OK
    put:
      tags:
      - Opportunities
      summary: Update opportunity
      operationId: updateOpportunity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Opportunities
      summary: Delete opportunity
      operationId: deleteOpportunity
      responses:
        '204':
          description: No Content
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /opportunities/search:
    get:
      tags:
      - Opportunities
      summary: Search opportunities
      operationId: searchOpportunities
      parameters:
      - in: query
        name: q
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /opportunities/{opportunityId}:
    parameters:
    - $ref: '#/components/parameters/OpportunityId'
    get:
      tags:
      - Opportunities
      summary: Show an opportunity
      responses:
        '200':
          $ref: '#/components/responses/OpportunityObject'
      operationId: getOpportunitiesByOpportunityId
      x-operation-id-source: derived
    put:
      tags:
      - Opportunities
      summary: Update an opportunity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpportunityEnvelope'
      responses:
        '200':
          $ref: '#/components/responses/OpportunityObject'
      operationId: putOpportunitiesByOpportunityId
      x-operation-id-source: derived
    delete:
      tags:
      - Opportunities
      summary: Delete an opportunity
      responses:
        '204':
          description: Deleted
      operationId: deleteOpportunitiesByOpportunityId
      x-operation-id-source: derived
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /opportunities/deleted:
    get:
      tags:
      - Opportunities
      summary: List deleted opportunities
      parameters:
      - in: query
        name: since
        schema:
          type: string
          format: date-time
      responses:
        '200':
          $ref: '#/components/responses/OpportunityList'
      operationId: getOpportunitiesDeleted
      x-operation-id-source: derived
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /opportunities/{opportunityId}/parties:
    parameters:
    - $ref: '#/components/parameters/OpportunityId'
    get:
      tags:
      - Opportunities
      summary: List additional parties on an opportunity
      responses:
        '200':
          $ref: '#/components/responses/PartyList'
      operationId: getOpportunitiesByOpportunityIdParties
      x-operation-id-source: derived
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /opportunities/{opportunityId}/parties/{partyId}:
    parameters:
    - $ref: '#/components/parameters/OpportunityId'
    - $ref: '#/components/parameters/PartyId'
    post:
      tags:
      - Opportunities
      summary: Add an additional party to an opportunity
      responses:
        '201':
          $ref: '#/components/responses/Generic'
      operationId: postOpportunitiesByOpportunityIdPartiesByPartyId
      x-operation-id-source: derived
    delete:
      tags:
      - Opportunities
      summary: Remove an additional party from an opportunity
      responses:
        '204':
          description: Removed
      operationId: deleteOpportunitiesByOpportunityIdPartiesByPartyId
      x-operation-id-source: derived
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /parties/{partyId}/opportunities:
    parameters:
    - $ref: '#/components/parameters/PartyId'
    get:
      tags:
      - Opportunities
      summary: List opportunities for a party
      responses:
        '200':
          $ref: '#/components/responses/OpportunityList'
      operationId: getPartiesByPartyIdOpportunities
      x-operation-id-source: derived
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
components:
  parameters:
    IdPath:
      in: path
      name: id
      required: true
      schema:
        type: integer
        format: int64
    PartyId:
      in: path
      name: partyId
      required: true
      schema:
        type: string
    Page:
      in: query
      name: page
      schema:
        type: integer
    OpportunityId:
      in: path
      name: opportunityId
      required: true
      schema:
        type: string
    PerPage:
      in: query
      name: perPage
      schema:
        type: integer
  responses:
    OpportunityObject:
      description: Opportunity envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OpportunityEnvelope'
    PartyList:
      description: List of parties.
      content:
        application/json:
          schema:
            type: object
            properties:
              parties:
                type: array
                items:
                  $ref: '#/components/schemas/Party'
    OpportunityList:
      description: List of opportunities.
      content:
        application/json:
          schema:
            type: object
            properties:
              opportunities:
                type: array
                items:
                  $ref: '#/components/schemas/Opportunity'
    Generic:
      description: Operation accepted.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  schemas:
    Opportunity:
      type: object
      additionalProperties: true
    OpportunityEnvelope:
      type: object
      properties:
        opportunity:
          $ref: '#/components/schemas/Opportunity'
    Party:
      type: object
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Personal access token or OAuth 2 access token
x-refined-from:
- capsule-crm-openapi.yml
- capsule-opportunities-api-openapi.yml
