openapi: 3.2.0
info:
  title: Capsule CRM API v2 Entries API
  description: Capsule is an online CRM for small and midsize businesses that manages contacts, sales pipelines, tasks, projects, and email integration. The v2 API is a REST/JSON service exposing parties (people and organisations), opportunities, projects, tasks, cases, users, and custom fields.
  version: '2.0'
  contact:
    name: Capsule CRM Developer
    url: https://developer.capsulecrm.com/
servers:
- url: https://api.capsulecrm.com/api/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Entries
paths:
  /entries:
    get:
      tags:
      - Entries
      summary: List entries
      operationId: listEntries
      responses:
        '200':
          description: OK
    post:
      tags:
      - Entries
      summary: Create entry
      operationId: createEntry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
  /entries/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    put:
      tags:
      - Entries
      summary: Update entry
      operationId: updateEntry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Entries
      summary: Delete entry
      operationId: deleteEntry
      responses:
        '204':
          description: No Content
components:
  parameters:
    IdPath:
      in: path
      name: id
      required: true
      schema:
        type: integer
        format: int64
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Personal access token or OAuth 2 access token
