openapi: 3.1.0
info:
  title: Capsule CRM API v2 Entries Parties API
  description: Capsule is an online CRM for small and midsize businesses that manages contacts, sales pipelines, tasks, projects, and email integration. The v2 API is a REST/JSON service exposing parties (people and organisations), opportunities, projects, tasks, cases, users, and custom fields.
  version: '2.0'
  contact:
    name: Capsule CRM Developer
    url: https://developer.capsulecrm.com/
servers:
- url: https://api.capsulecrm.com/api/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Parties
paths:
  /parties:
    get:
      tags:
      - Parties
      summary: List parties
      operationId: listParties
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: OK
    post:
      tags:
      - Parties
      summary: Create party
      operationId: createParty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
  /parties/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      tags:
      - Parties
      summary: Show party
      operationId: showParty
      responses:
        '200':
          description: OK
    put:
      tags:
      - Parties
      summary: Update party
      operationId: updateParty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Parties
      summary: Delete party
      operationId: deleteParty
      responses:
        '204':
          description: No Content
  /parties/search:
    get:
      tags:
      - Parties
      summary: Search parties
      operationId: searchParties
      parameters:
      - in: query
        name: q
        schema:
          type: string
      responses:
        '200':
          description: OK
  /parties/employees:
    get:
      tags:
      - Parties
      summary: List employees of an organisation
      operationId: listEmployees
      responses:
        '200':
          description: OK
components:
  parameters:
    Page:
      in: query
      name: page
      schema:
        type: integer
    IdPath:
      in: path
      name: id
      required: true
      schema:
        type: integer
        format: int64
    PerPage:
      in: query
      name: perPage
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Personal access token or OAuth 2 access token
