openapi: 3.2.0
info:
  title: Capsule Crm Projects API
  version: '1.0'
  description: 'Operations tagged Projects across 2 of this provider''s published API definitions: capsule-crm-openapi.yml, capsule-projects-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.capsulecrm.com/api/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Projects
paths:
  /projects:
    get:
      tags:
      - Projects
      summary: List projects
      operationId: listProjects
      responses:
        '200':
          description: OK
    post:
      tags:
      - Projects
      summary: Create project
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /projects/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      tags:
      - Projects
      summary: Show project
      operationId: showProject
      responses:
        '200':
          description: OK
    put:
      tags:
      - Projects
      summary: Update project
      operationId: updateProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Projects
      summary: Delete project
      operationId: deleteProject
      responses:
        '204':
          description: No Content
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /kases:
    get:
      tags:
      - Projects
      summary: List projects
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          $ref: '#/components/responses/ProjectList'
      operationId: getKases
      x-operation-id-source: derived
    post:
      tags:
      - Projects
      summary: Create a project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectEnvelope'
      responses:
        '201':
          $ref: '#/components/responses/ProjectObject'
      operationId: postKases
      x-operation-id-source: derived
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /kases/{projectId}:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
      - Projects
      summary: Show a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectObject'
      operationId: getKasesByProjectId
      x-operation-id-source: derived
    put:
      tags:
      - Projects
      summary: Update a project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectEnvelope'
      responses:
        '200':
          $ref: '#/components/responses/ProjectObject'
      operationId: putKasesByProjectId
      x-operation-id-source: derived
    delete:
      tags:
      - Projects
      summary: Delete a project
      responses:
        '204':
          description: Deleted
      operationId: deleteKasesByProjectId
      x-operation-id-source: derived
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /kases/deleted:
    get:
      tags:
      - Projects
      summary: List deleted projects
      parameters:
      - in: query
        name: since
        schema:
          type: string
          format: date-time
      responses:
        '200':
          $ref: '#/components/responses/ProjectList'
      operationId: getKasesDeleted
      x-operation-id-source: derived
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /kases/search:
    get:
      tags:
      - Projects
      summary: Search projects
      parameters:
      - in: query
        name: q
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ProjectList'
      operationId: getKasesSearch
      x-operation-id-source: derived
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
  /parties/{partyId}/kases:
    parameters:
    - $ref: '#/components/parameters/PartyId'
    get:
      tags:
      - Projects
      summary: List projects for a party
      responses:
        '200':
          $ref: '#/components/responses/ProjectList'
      operationId: getPartiesByPartyIdKases
      x-operation-id-source: derived
    servers:
    - url: https://api.capsulecrm.com/api/v2
      description: Production
components:
  parameters:
    IdPath:
      in: path
      name: id
      required: true
      schema:
        type: integer
        format: int64
    PerPage:
      in: query
      name: perPage
      schema:
        type: integer
    PartyId:
      in: path
      name: partyId
      required: true
      schema:
        type: string
    ProjectId:
      in: path
      name: projectId
      required: true
      schema:
        type: string
    Page:
      in: query
      name: page
      schema:
        type: integer
  schemas:
    Project:
      type: object
      additionalProperties: true
    ProjectEnvelope:
      type: object
      properties:
        kase:
          $ref: '#/components/schemas/Project'
  responses:
    ProjectObject:
      description: Project envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProjectEnvelope'
    ProjectList:
      description: List of projects.
      content:
        application/json:
          schema:
            type: object
            properties:
              kases:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Personal access token or OAuth 2 access token
x-refined-from:
- capsule-crm-openapi.yml
- capsule-projects-api-openapi.yml
